

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    
}
  
body {
    max-width: 1850px;
    text-align: center;
}

input {
    padding-top: 20px;
    width: 450px;
    height: 60px;
    font-size: 40px;
    border: 0;
}


input:focus {
    outline: none;
}

ul {
    margin-bottom: 60px;
}

ul#list li {
    text-align: center;
    width: auto;
    font-size: 40px;
    list-style: none;
    margin: 0.7cm;
    border: 1px solid rgb(115, 45, 226);
    border-radius: 5em;
    
}

ul#list li:hover {
    text-decoration: line-through;
}

#listItem {
    font-size: x-large;
    border-style: solid;
    border-color: rgb(115, 45, 226);
    border-radius: 1em;
    border-bottom-left-radius: 1em;
    margin-left: 500px;
    margin-right: 500px;
}
#input {
    font-size: 0.5cm;
    text-align: center;
    width: 8cm;
    height: 0.7cm;
    padding-bottom: 0.5cm;
    border: 2px solid rgb(115, 45, 226);
    border-radius: 120cm;
}